/* Global Style */
body {
    font-family: 'Karla', Verdana, sans-serif;
    color: #333;
    letter-spacing: 0.4px;
    font-size: 18px;
    background-color: #fff7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

/* Hero Section */
#hero {
    margin: 43vh 0;
}

#hero h1 {
    display: block;
    margin-bottom: 20px;
    font-size: 35px;
    color: #f05776;
}

/* Projects */
.pacepal {
    display: block;
    background-color: #ffffff;
    padding: 50px 120px;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgba(0, 0,0, 0.2);
    max-width: 100%;
    width: 70vw;
    margin: 0 auto;
    box-sizing: border-box;
}

/* About Me */
#about-me {
    margin: 80px 0;
}

#about-me-content {
    display: flex;
    gap: 50px
}

#about-me img {
    max-width: 450px;
    max-height: 300px;
}

/* Toolkit */
.tools p {
    border: 2px solid #ff7396;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
}

#toolkit {
    margin: 50px;
}

#skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}